- name: Install nginx
  yum:
   name: nginx
   state: present


- name: Download frontend archive 
  ansible.builtin.unarchive:
    src: https://github.com/roboshop-devops-project/frontend/archive/main.zip
    dest: /tmp
    remote_src: yes #unarchive module will cpy the file from role to remote place so if we dont want to do that we have to give yes 

- name: Remove old content
  ansible.builtin.file:
    path: /usr/share/nginx/html
    state: absent

- name: Copy extracted content to nginx path
  ansible.builtin.copy:
    src: /tmp/frontend-main/static/
    dest: /usr/share/nginx/html/  # now all the static content will be moved into html directory
    remote_src: yes # source and destination are on the remote place only so give yes

- name: Copy RoboShop Config file
  copy:
    src: roboshop.conf
    dest: /etc/nginx/default.d/roboshop.conf
  notify: Restart Nginx

- name: update nginx Config file
  copy:
    src: nginx.conf
    dest: /etc/nginx/nginx.conf
  notify: Restart Nginx
  
- name: start nginx
  systemd: 
    name: nginx
    state: started
    enabled: yes

- name: include node exporter
  include_role: 
   name: common
   tasks_from: node-exporter

- name: Include Filebeat
  include_role:
    name: common
    tasks_from: filebeat
  vars:
    OUTPUT_TO: logstash
    NGINX: true