- name: update prometheus config
  template:
    src: "{{item}}.yml"
    dest: /opt/prometheus/{{item}}.yml
  loop:
    - prometheus
    - records
    - alerts

- name: Restart prometheus service
  systemd:
    name: prometheus
    state: restarted
    enabled: yes

- name: update alert-manager config
  template:
    src: "{{item}}.yml"
    dest: /opt/prometheus/{{item}}.yml
  loop:
    - alertmanager

- name: Restart alert-manager service
  systemd:
    name: alertmanager
    state: restarted
    enabled: yes