- name: install node js
  yum:
   name: 
    - nodejs
    - make
    - gcc-c++
   state: present

- name: download
   include_tasks: download.yaml



- name: Install node js dependencies
  community.general.npm:
    path: /home/roboshop/{{COMPONENT}}
  become_user: roboshop # this task will become as user of roboshop and then will get executed

- name: systemd service
   include_tasks: systemd.yaml