- name: setup rsyslog
  template:
    src: rsyslog.conf
    dest: /etc/rsyslog.d/roboshop.conf
 
- name: restart syslog service
  systemd: 
    name: rsyslog
    state: restarted

- name: install node js
  yum:
   name: 
    - nodejs
    - make
    - gcc-c++
   state: present

- name: download
  include_tasks: download.yml

- name: Install node js dependencies
  community.general.npm:
    path: /home/roboshop/{{COMPONENT}}
  become_user: roboshop # this task will become as user of roboshop and then will get executed

- name: systemd service
  include_tasks: systemd.yml

- name: Node Exporter
  include_tasks: node-exporter.yml