- name: install python
  yum:
   name: 
    - python36 
    - gcc
    - python3-devel
   state: present

- name: download
   include_tasks: download.yml

- name: Install python dependencies
  pip:
    requirements: /home/roboshop/{{COMPONENT}}/requirements.txt
    executable: pip3

- name: print user details
  debug: 
   msg: "{{ROBOSHOP_USER}}"

- name: systemd service
   include_tasks: systemd.yml