groups:
- name: Hardware resources
  rules:
  - alert: HighCPU
    expr: cpu_usage_in_percentagev > 90
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: "HighCPU on {%raw%}{{ $labels.tagName }}{%endraw%}"

- name: services
  rules:
  - alert: cart service down
    expr: node_systemd_unit_state{name="cart.service",tagName="cart",state="active"} == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: {%raw%}"service {{ $lables.name }} down on {{ $labels.tagName }}"{%endraw%}

- name: services
  rules:
  - alert: catalogue service down
    expr: node_systemd_unit_state{name="catalogue.service",tagName="catalogue",state="active"} == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: {%raw%}"service {{ $lables.name }} down on {{ $labels.tagName }}"{%endraw%}

- name: services
  rules:
  - alert: frontend service down
    expr: node_systemd_unit_state{name="nginx.service",tagName="frontend",state="active"} == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: {%raw%}"service {{ $lables.name }} down on {{ $labels.tagName }}"{%endraw%}

- name: services
  rules:
  - alert: user service down
    expr: node_systemd_unit_state{name="user.service",tagName="user",state="active"} == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: {%raw%}"service {{ $lables.name }} down on {{ $labels.tagName }}"{%endraw%}

- name: services
  rules:
  - alert: shipping service down
    expr: node_systemd_unit_state{name="shipping.service",tagName="shipping",state="active"} == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: {%raw%}"service {{ $lables.name }} down on {{ $labels.tagName }}"{%endraw%}

- name: services
  rules:
  - alert: payment service down
    expr: node_systemd_unit_state{name="payment.service",tagName="payment",state="active"} == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: {%raw%}"service {{ $lables.name }} down on {{ $labels.tagName }}"{%endraw%}