route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'email'
receivers:
  - name: email
    email_configs:
      - to: manjushagudiwada@gmail.com
        from: manjushagudiwada@gmail.com
        smarthost: email-smtp.us-east-1.amazonaws.com:587
        auth_username: AKIA2NR226YTVJO5A5O5
        auth_password: BI6QqjeUtzNqpUzkrDSeleRwPOw00TTVHDpXPamuoxaR
        require_tls: yes
inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']