global:
  resolve_timeout: 1m
  slack_api_url: 'https://hooks.slack.com/services/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'
route:
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'slack-notifications'
receivers:
- name: 'slack-notifications'
    slack_configs:
      - channel: '#random'
        send_resolved: true
        text: {%raw%}"<!channel> \nsummary: {{ .CommonAnnotations.summary }}"{%endraw%}

 # - name: slack-notifications
  #  email_configs:
   #   - to: manjushagudiwada@gmail.com
    #    from: manjushagudiwada@gmail.com
     #   smarthost: email-smtp.us-east-1.amazonaws.com:587
      #  auth_username: AKIA2NR226YTVJO5A5O5
       # auth_password: BI6QqjeUtzNqpUzkrDSeleRwPOw00TTVHDpXPamuoxaR
        #require_tls: yes
        #send_resolved: true
inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']