groups:
- name: Hardware resources
  rules:
  - alert: HighCPU
    expr: cpu_usage_in_percentagev> 90
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: HighCPU on  {%raw%}{{ $labels.tagName }}{%endraw%}